@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main{
  font-family: "Readex Pro", sans-serif;
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 20% 20%, hsla(251,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(215,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(425,49%,30%,1) 0, transparent 50%);
  height: 100%; 
    }
}

@layer components{
    .card{
        @apply  bg-white text-gray-700 w-72 min-h-[10rem] shadow-lg
  rounded-md overflow-hidden
    }
     .badge{
        @apply px-3 py-1 rounded-full text-xs bg-gray-100 
    }
    .product-title{
        @apply  font-semibold text-2xl overflow-hidden overflow-ellipsis
    overflow-hidden whitespace-nowrap
    }
     .discount-percentage {
        @apply bg-red-500 px-1.5 py-0.5 rounded-md text-white
    }
    .button-primary{
        @apply 
        hover:bg-pink-500/90
        px-6 py-2 rounded-md text-white font-medium tracking-wider transition
    }
    .button-icon{
        @apply flex-grow flex justify-center items-center bg-gray-300/60 
        hover:bg-gray-300/80 transition rounded-md
    }
    .button-gradient{
  background-color: #120461;
  background-image: 
    radial-gradient(at 0% 100%, hsla(213,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(425,49%,30%,1) 0, transparent 50%);
}
}
